/* sets display and color to header element */

.header {
  background-color: darkolivegreen;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
}

/* overrides font size from header and adds underlining. */
.header nav {
  font-size: 30px;
  text-decoration: underline;
  padding-right: 5px;
}

#avatar {
  max-width: 200px;
  max-height: 200px;
}

.portfolio-container {
  border: 1px solid red;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.first-project {
  width: 55%;
  height: 350px;
  border: 1px solid red;
}
/* sets dimensions and layout for containers. */
.containers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.placeholder-column {
  width: 40%;
}

#photo-1 {
  width: auto;
  height: 200px;
  border: 5px;
  border-style: dashed;
  border-color: darkolivegreen;
  justify-self: center;
}
/* the following sets dimensions and borders to all place holder images */
#Image-2 {
  width: 150px;
  height: 150px;
  border: 5px;
  border-style: dashed;
  border-color: darkolivegreen;
}

#Image-3 {
  width: 150px;
  height: 150px;
  border: 5px;
  border-style: dashed;
  border-color: darkolivegreen;
}

#Image-4 {
  width: 150px;
  height: 150px;
  border: 5px;
  border-style: dashed;
  border-color: darkolivegreen;
}

#Image-5 {
  width: 150px;
  height: 150px;
  border: 5px;
  border-style: dashed;
  border-color: darkolivegreen;
}

body {
  border: 5px;
  border-style: solid;
  border-color: darkolivegreen;
  background-color: lightgray;
}

#moodboard {
  width: 150px;
  height: 150px;
  border: 5px;
  border-style: dashed;
  border-color: darkolivegreen;
}

/* adds responsive traits for varying screen sizes. */
@media screen and (max-width: 576px) {
  .placeholder-column {
    display: block;
  }
  #photo-1 {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background-color: aliceblue;
  }
}
